extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar congue dapibus. Vivamus interdum vestibulum enim, et consectetur nunc semper at. Ut eget fringilla magna, a tristique tellus. Praesent malesuada mi non ultricies tempus.
                p Maecenas porta aliquet eleifend. Sed varius feugiat ante vitae rhoncus. Morbi dictum, justo non tempus mattis, nunc odio tempor massa, sed fringilla felis nisi sit amet lorem. Pellentesque posuere risus risus, vitae maximus lacus bibendum non. Curabitur vel pulvinar metus, vitae scelerisque ex.
                p Maecenas porta aliquet eleifend. Sed varius feugiat ante vitae rhoncus. Morbi dictum, justo non tempus mattis, nunc odio tempor massa, sed fringilla felis nisi sit amet lorem. Pellentesque posuere risus risus, vitae maximus lacus bibendum non. Curabitur vel pulvinar metus, vitae scelerisque ex.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed ornare convallis diam eget mollis. Nullam malesuada nulla non tellus tempus mollis.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Sed ornare convallis diam eget mollis. Nullam malesuada nulla non tellus tempus mollis.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Precio
                    p Sed ornare convallis diam eget mollis. Nullam malesuada nulla non tellus tempus mollis.